# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.WorldYachtsApi.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\учеба\3_курс\Практика[КПиЯП]\WorldYachtsApi\.idea\.idea.WorldYachtsApi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
